
body{
    background-color:rgba(9, 245, 155, 0.301)
    }
    
     h1{
    color:rgb(0, 12, 11) ;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    background:rgb(255, 255, 255) ;
    text-align: center;
    }
    
    :
    p{
    color:rgba(14, 252, 173, 0.219) ;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: ;
    background:rgb(5, 0, 70) ;
    #ONIX {
        width: 100%;
    }
    
    }